body {
    font-family: 'Montserrat', sans-serif;
}

nav {
    color: black;
    background-color: white;
}

.sidenav {
  padding: 15px !important;
}

.sidenav-open {
  transform: translateX(0%) !important;
}

li {
  padding: 0 5px !important;
}

input {
  margin-bottom: 5px !important;
}

button,
a {
  border-radius: 4px !important;
}

.sidenav li> a {
  padding: 0;
}

.bg-bottom {
    height: 500px;
    
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
